@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.title{
    font-size: 2.5rem;
    text-align: center;
    text-shadow: 5px 3px 4px black;
}
.song{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.artist{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.lyrics{
    color: white;
    border: solid;
    margin: 17px;
    padding: 12px;
    width: 900px;
    text-align: center;
    font-size: 25px;
    line-height: 3rem;
}
.link{
    color: #0000EE;
}
.button{
    background-color: #002500;
    float: left;
}
.cover{
    float: left;
    margin-bottom: 20px;
    margin-right: 25px;
    margin-left: 10px;
}
.ar{
    float: right;
    margin-right: 25px;
    font-size: 20px;
}
.al{
    margin-left: 25px;
    font-size: 20px;
}
#credit{
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.2rem;
    margin-left: 7px;
    font-size: 2rem;
    margin-top: 5px;
    margin-bottom: 5px;
}
.footer{
    text-align: center;
    font-size: 22px;
}
#warn{
    font-family: "Roboto Condensed", sans-serif;
}
ul{
    display: inline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
li{
    text-align: center;
    padding: 2rem;
    list-style-type: none;
    margin: 0;
    border-bottom: 0.1rem solid;
    border-top: 0.1rem solid;
}
#refresh{
    height: 25px;
    width: 25px;
    position: fixed;
    bottom: 5px;
    right: 10px;
}
nav{
    font-size: 35px;
}
/* *{
    background-color: #2C5530;
    color: #F3FFB6;
    margin: 3px 3px;
} */

#source{
    font-size: 20px;
}
#vid{
    font-size: 20px;
}